// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}

body {
  margin: 40px;
}

th {
  padding: 15px 0;
}

td {
  padding: 0 7px 7px 5px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: gray;
}

a:hover {
  color: white;
  background-color: black;
}


h2 {
  padding: 20px 0;
}

.box {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 190px;
  height: 25px;
  font-size: 15px;
}



input[type="submit"] {
  width: 115px;
  height: 28px;
  font-size: 16px;
}


.show {
  margin: 40px;
}

span {
  padding-right: 5px;
}

.edit {
  margin-top: 15px;
}

.edit-submit {
  margin: 15px 0;
}

.message {
  color: green;
  margin: 0 0 30px 40px;
}

